{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'piloto/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <!-- <th scope="col">Nro</th> -->
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Identificación</th>
    <th scope="col">Fecha Registro</th>
    <th scope="col">Edad</th>
    <th scope="col">Estado</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}